---
http_interactions:
- request:
    method: post
    uri: https://stage.wepayapi.com/v2/preapproval
    body:
      encoding: UTF-8
      string: '{"preapproval_id":123456}'
    headers:
      Authorization:
      - Bearer access_token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"preapproval_id":123456789,"account_id":123456,"preapproval_uri":"https:\/\/stage.wepay.com\/api\/preapproval\/123456789\/377e07c4","short_description":"Payment","currency":"USD","amount":10,"fee_payer":"payer","state":"approved","redirect_uri":null,"app_fee":0,"period":"yearly","frequency":1,"start_time":1387165984,"end_time":1544950614,"auto_recur":false,"create_time":1387165984,"manage_uri":"https:\/\/stage.wepay.com\/preapproval\/view\/123456789\/377e07c4","mode":"regular","payer_email":"user@example.com","payer_name":"Test
        User 1"}'
  recorded_at: Mon, 16 Dec 2013 03:58:00 GMT
recorded_with: VCR 2.8.0
