---
http_interactions:
- request:
    method: post
    uri: https://stage.wepayapi.com/v2/checkout/create
    body:
      encoding: UTF-8
      string: '{"account_id":123456, "short_description":"Payment", "type":"GOODS", "amount":"10"}'
    headers:
      Authorization:
      - Bearer access_token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"checkout_id":1234567890,"checkout_uri":"https:\/\/stage.wepay.com\/api\/checkout\/1234567890\/8a1fc59e"}'
  recorded_at: Wed, 04 Dec 2013 04:08:44 GMT
recorded_with: VCR 2.8.0
