---
http_interactions:
- request:
    method: post
    uri: https://stage.wepayapi.com/v2/account/get_reserve_details
    body:
      encoding: UTF-8
      string: '{"account_id":"123456"}'
    headers:
      Authorization:
      - Bearer access_token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"account_id":123456,"currency":"USD","reserved_amount":0,"withdrawals_schedule":[{"time":1390100207,"amount":0}]}'
  recorded_at: Sun, 19 Jan 2014 02:56:47 GMT
recorded_with: VCR 2.8.0
