---
http_interactions:
- request:
    method: post
    uri: https://stage.wepayapi.com/v2/account/create
    body:
      encoding: UTF-8
      string: '{"name":"New+Account", "description":"Created+by+API"}'
    headers:
      Authorization:
      - Bearer access_token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"account_id":123456,"account_uri":"https:\/\/stage.wepay.com\/account\/123456"}'
  recorded_at: Thu, 05 Dec 2013 10:46:22 GMT
recorded_with: VCR 2.8.0
