---
http_interactions:
- request:
    method: post
    uri: https://stage.wepayapi.com/v2/subscription_plan/create
    body:
      encoding: UTF-8
      string: '{"name":"Subscription plan 1","short_description":"Short description","amount":10,"period":"yearly","account_id":123456}'
    headers:
      Authorization:
      - Bearer access_token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"subscription_plan_id":123456789}'
  recorded_at: Mon, 16 Dec 2013 05:09:36 GMT
recorded_with: VCR 2.8.0
