---
http_interactions:
- request:
    method: post
    uri: https://stage.wepayapi.com/v2/withdrawal/modify
    body:
      encoding: UTF-8
      string: '{"withdrawal_id":123456789,"callback_uri":"https://www.example.com/ipn/12345"}'
    headers:
      Authorization:
      - Bearer access_token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"withdrawal_id":123456789,"state":"new","withdrawal_uri":"https:\/\/stage.wepay.com\/api\/withdrawal\/123456789\/f57129c710db1bfb69ce042c938cd0b9","callback_uri":"https:\/\/www.example.com\/ipn\/12345","redirect_uri":"\/status\/withdrawal_complete\/123456789","create_time":1387169032,"capture_time":0,"recipient_name":"","recipient_confirmed":false,"type":"ach","amount":0,"note":"","account_id":123456}'
  recorded_at: Mon, 16 Dec 2013 04:49:36 GMT
recorded_with: VCR 2.8.0
