---
http_interactions:
- request:
    method: post
    uri: https://stage.wepayapi.com/v2/account
    body:
       encoding: UTF-8
       string: '{"account_id":"123456"}'
    headers:
      Authorization:
      - Bearer access_token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: '{"account_id":123456,"name":"Test account","state":"active","description":"abc","account_uri":"https:\/\/stage.wepay.com\/account\/123456","payment_limit":50000,"verification_state":"unverified","type":"personal","auto_withdrawal":false,"create_time":1386239642,"verification_uri":"https:\/\/stage.wepay.com\/api\/account_verify\/123456\/d953f41e"}'
  recorded_at: Thu, 05 Dec 2013 10:46:19 GMT
recorded_with: VCR 2.8.0
