---
http_interactions:
- request:
    method: post
    uri: https://stage.wepayapi.com/v2/subscription_plan/get_button
    body:
      encoding: UTF-8
      string: '{"subscription_plan_id":123456789,"button_type":"subscription_plan","account_id":123456}'
    headers:
      Authorization:
      - Bearer access_token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"subscription_plan_id":123456789,"subscription_button_code":"<a class=\"wepay-widget-button
        wepay-green\" id=\"wepay_widget_anchor_52ae8cedcd451\" href=\"https:\/\/stage.wepay.com\/subscribe\/123456\/plan\/123456789\">Subscribe<\/a>\n<script
        type=\"text\/javascript\">\n\tvar WePay = WePay || {};\n\tWePay.load_widgets
        = WePay.load_widgets || function() { };\n\tWePay.widgets = WePay.widgets ||
        [];\n\tWePay.widgets.push( {\n\t\tobject_id: 123456789,\n\t\twidget_type:
        \"subscription_plan\",\n\t\tanchor_id: \"wepay_widget_anchor_52ae8cedcd451\",\n\t\twidget_options:
        {\n\t\t\tgroup_id: 123456\n\t\t}\n\t});\n\tif (!WePay.script) {\n\t\tWePay.script
        = document.createElement(''script'');WePay.script.type = ''text\/javascript'';WePay.script.async
        = <USING_STAGE>;\n\t\tWePay.script.src = ''https:\/\/stage.wepay.com\/min\/js\/widgets.v2.js'';\n\t\tvar
        s = document.getElementsByTagName(''script'')[0]; s.parentNode.insertBefore(WePay.script,
        s);\n\t} else if (WePay.load_widgets) {\n\t\tWePay.load_widgets();\n\t}\n<\/script>\n"}'
  recorded_at: Mon, 16 Dec 2013 05:17:34 GMT
recorded_with: VCR 2.8.0
