---
http_interactions:
- request:
    method: post
    uri: https://stage.wepayapi.com/v2/account/set_tax
    body:
      encoding: UTF-8
      string: '{"account_id":"123456","taxes":[{"percent":10,"country":"US","state":"CA","zip":"94025"}]}'
    headers:
      Authorization:
      - Bearer access_token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"zip":94025,"state":"CA","country":"US","percent":10}]'
  recorded_at: Mon, 16 Dec 2013 03:05:18 GMT
recorded_with: VCR 2.8.0
