---
http_interactions:
- request:
    method: post
    uri: https://stage.wepayapi.com/v2/account/modify
    body:
      encoding: UTF-8
      string: '{"account_id":"123456", "name":"New+Account+Name"}'
      encoding: US-ASCII
      string: account_id=123456&name=New+Account+Name
    headers:
      Authorization:
      - Bearer access_token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"account_id":123456,"name":"New Account Name","state":"active","description":"This
        account was created by ABC","account_uri":"https:\/\/stage.wepay.com\/account\/123456","payment_limit":"50000","verification_state":"unverified","type":"personal","auto_withdrawal":false,"create_time":1386243069,"verification_uri":"https:\/\/stage.wepay.com\/api\/account_verify\/123456\/65d2737e"}'
  recorded_at: Fri, 13 Dec 2013 07:59:13 GMT
recorded_with: VCR 2.8.0
