---
http_interactions:
- request:
    method: get
    uri: https://stage.wepayapi.com/v2/account/balance?account_id=123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pending_balance":0,"available_balance":0,"pending_amount":0,"reserved_amount":0,"disputed_amount":0,"currency":"USD"}'
  recorded_at: Fri, 13 Dec 2013 08:09:49 GMT
recorded_with: VCR 2.8.0
