---
http_interactions:
- request:
    method: post
    uri: https://stage.wepayapi.com/v2/checkout/create
    body:
      encoding: US-ASCII
      string: account_id=<ACCOUNT_ID>&short_description=Film+payment&type=GOODS&amount=10
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: '{"checkout_id":1234567890,"checkout_uri":"https:\/\/stage.wepay.com\/api\/checkout\/1234567890\/8a1fc59e"}'
  recorded_at: Wed, 04 Dec 2013 04:08:44 GMT
recorded_with: VCR 2.8.0
