---
http_interactions:
- request:
    method: post
    uri: https://stage.wepayapi.com/v2/account/find
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Authorization:
      - Bearer access_token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"account_id":123456,"name":"New Account","state":"action_required","description":"Created
        by API","type":"personal","create_time":1390099125,"country":"US","currencies":["USD"],"balances":[{"currency":"USD","balance":0,"incoming_pending_amount":0,"outgoing_pending_amount":0,"reserved_amount":0,"disputed_amount":0,"withdrawal_period":null,"withdrawal_next_time":null,"withdrawal_bank_name":null}],"statuses":[{"currency":"USD","incoming_payments_status":"ok","outgoing_payments_status":"paused"}],"action_reasons":["kyc","bank_account"]},{"account_id":123456,"name":"Juntobox
        Films","state":"action_required","description":"This account was created by
        Juntobox Films","type":"personal","create_time":1390099014,"country":"US","currencies":["USD"],"balances":[{"currency":"USD","balance":0,"incoming_pending_amount":0,"outgoing_pending_amount":0,"reserved_amount":0,"disputed_amount":0,"withdrawal_period":null,"withdrawal_next_time":null,"withdrawal_bank_name":null}],"statuses":[{"currency":"USD","incoming_payments_status":"ok","outgoing_payments_status":"paused"}],"action_reasons":["kyc","bank_account"]}]'
  recorded_at: Sun, 19 Jan 2014 02:49:33 GMT
recorded_with: VCR 2.8.0
