---
http_interactions:
- request:
    method: get
    uri: https://stage.wepayapi.com/v2/null
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 501
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: '{"error":"invalid_request","error_description":"that is not a recognized
        WePay API call","error_code":1001}'
  recorded_at: Tue, 03 Dec 2013 09:34:31 GMT
recorded_with: VCR 2.8.0
