client_id:      ...
client_secret:  ...
access_token:   access_token
account_id:     123456
scope:          manage_accounts,view_balance,collect_payments,view_user,preapprove_payments,manage_subscriptions,send_money
using_stage:    true